<form name="sentMessage" id="usersearch" onsubmit="getUser()">
    <div class="row">
        <div class="input-group input-group-lg">
            <input type="text" class="form-control" placeholder="Username" id="username" pattern="^[a-zA-Z0-9._]+$"  title="Valid Username With Alphanumeric, '.' and '_' Characters)">
                              <span class="input-group-btn">
                            <button type="submit" class="btn btn-success btn-lg">search</button>
                              </span>
        </div><!-- /input-group -->
    </div>
    <script>
        function getUser(){
            event.preventDefault();
            var user = document.getElementById('username').value;
            if(typeof user !== 'undefined' && user !== '') {
                window.location.pathname = "/users/" + user;
            }
        }
    </script>
</form>